body {
  background-color: hwb(198 80% 10%);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  background-color: hwb(198 20% 20%);
  font-size: 2rem;
}
ul li {
  list-style: none;
  font-style: italic;
  line-height: 30px;
}
h3 {
  color: white;
  background-color: hwb(198 50% 10%);
  padding: 1px;
  font-size: 1.5rem;
}
pre {
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 28px;
  text-align: left;
  border: 0;
}
footer p {
  text-align: right;
}
